#about {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('bgc-under.png');
  background-size: cover;
}

.about-content {}

.about-title {
  margin-bottom: 30px;
  color: #F55B49;
}

.about-desc {
  max-width: 500px;
}
