#business {
  min-height: 100vh;
  padding: 200px 0 0;
  background-image: url('bgc-under.png');
  background-size: cover;
}

.business-hero-section {
  padding-left: 10%;
  padding-right: 10%;
}

.business-content {
  padding-right: 30px;
}

.business-title {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #F55B49;
}

.business-sub-title {}

.business-desc {
  margin-top: 40px;
}

.business-form {
  background-color: white;
  box-shadow: 5px 15px 55px rgba(100, 100, 100, .3);
  width: 100%;
  height: 400px;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

// Our Customers Section
.our-customers {
  margin-top: 130px;
  padding: 60px 60px 100px;
  background-color: #EFEFEF;
}

.our-customers-title {
  font-size: 25px !important;
}

.customers-logo {
  margin-top: 30px;
}

// What You Get Section
.what-you-get {
  padding: 60px 50px 100px;
}

.wyg-main-title {
  margin-bottom: 40px;
  font-size: 25px !important;
}

.wyg-img {
  text-align: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.wyg-title {
  text-align: center;
  font-size: 16px;
  color: #F55B49;
  font-weight: bold;
}

.wyg-desc {
  text-align: center;
  padding: 2px 12px;
}









