<div id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row pl20">
        <div class="hidden-xs col-sm-12 col-md-3 col-lg-3 mb25 ">
          <a href="/#banner" class="iggrow-logo mb50">
            <%= image_tag("logo-sub-red.png", class: "productile-logo-large") %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">SUBMARINE</li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/delivery-area">Delivery Area</a></li>
            <li><a href="/business">For Business</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">ABOUT US</li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/jobs">Jobs at Submarine</a></li>
            <li><a href="/terms">Terms and conditions</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">FOLLOW US</li>
            <li>
              <a href="https://www.instagram.com/submarinebangkok" target="_blank">
                <i class="fab fa-instagram" aria-hidden="true"></i>
                &nbsp; Instagram
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/submarinebangkok/" target="_blank">
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                &nbsp; Facebook
              </a>
            </li>
          </ul>
        </div> <!-- End .col-xs-12 .col-sm-12 .col-md-3 .col-lg-3 -->
      </div> <!-- End .row -->
    </div> <!-- End .container -->
  </div> <!-- End .footer-bottom -->
</div>
