<div id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row pl20">
        <div class="hidden-xs col-sm-12 col-md-3 col-lg-3 mb25 ">
          <a href="/#banner" class="iggrow-logo mb50">
            <%#= image_tag("productile-logo.png", class: "productile-logo-small") %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">PRODUCTS</li>
            <li><a href="/#pictures-grid">Discover</a></li>
            <li><a href="/#how">How it works</a></li>
            <li><a href="/#pricing">Pricing</a></li>
            <li><a href="/#contact">Contact us</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">COMPANY</li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/terms">Terms and conditions</a></li>
            <li><a href="/jobs">Jobs at Productile</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">FOLLOW US</li>
            <li>
              <a href="https://www.instagram.com/productile.co" target="_blank">
                <i class="fab fa-instagram" aria-hidden="true"></i>
                &nbsp; Instagram
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Productileco-281822499091502" target="_blank">
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                &nbsp; Facebook
              </a>
            </li>
          </ul>
        </div> <!-- End .col-xs-12 .col-sm-12 .col-md-3 .col-lg-3 -->
      </div> <!-- End .row -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="text-center">
            <div class="made-with-love">
              &copy; 2018 Productile -
              Made with <%#= image_tag("emoji-heart.png", class: "emoji") %>
              in Belgium <%#= image_tag("emoji-flag.png", class: "emoji") %>
            </div> <!-- End made-with-love -->
          </div> <!-- End .vcenter -->
        </div>
      </div>
    </div> <!-- End .container -->
  </div> <!-- End .footer-bottom -->
</div>
