<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <%= image_tag("", class: "img-menu") %>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <%= image_tag("", class: "img-menu") %>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <%= image_tag("", class: "img-menu") %>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <%= image_tag("", class: "img-menu") %>
    </div>
  </div>
</div>
