<%= render 'shared/navbar' %>

<div id="about" class="pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          Internationally inspired, but locally sourced, Submarine Sandwiches strives to bring some delicious excitement to your lunch experience. we have created a simple menu with sophisticated flavors. We have developed these flavors by tapping into our passion for international food.
​          At Submarine Sandwiches we believe that our customers should be able to
          satisfy their diverse tastes without to leave the comfort of their home or office.
​          With the highest quality ingredients, environmentally friendly packaging,
          and delightful flavors, we hope to bring a Revolutionary experience to an old school service.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
