.primary-btn {
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  font-weight: bold;

  @media screen and (max-width: 441px) {
    padding: 10px 20px;
    font-size: 13px;
  }
}

.foodpanda-btn {
  background-color: #D51965;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.honestbee-btn {
  background-color: #FEC930;
  // border: 2px solid #211F1F;
  // color: #211F1F;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.lineman-btn {
  background-color: #41CE6C;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

// Form btn
.form-btn {
  font-size: 17px;
  letter-spacing: 0.2rem;
  background-color: #F55B49;
  margin-top: 30px;
  padding: 10px 45px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
