.navbar-submarine {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: RGBA(0, 0, 0, .2);
  top: 0;
  min-width: 100%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;

  a {
    color: white;
    font-size: 14px;
    font-weight: 400;

    &:focus,
    &:hover {
      color: rgba(235, 73, 84, .8);
      text-decoration: none;
    }
  }
}

.navbar-submarine-second {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  top: 0;
  min-width: 100%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0px 5px 15px rgba(180, 180, 180, .1);

  a {
    color: black;
    font-size: 14px;
    font-weight: 400;

    &:focus,
    &:hover {
      color: rgba(235, 73, 84, .8);
      text-decoration: none;
    }
  }
}

.navbar-submarine-mobile {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 10px;
  padding-left: 15%;
  padding-right: 15%;
  @media screen and (max-width: 375px) {
    padding-top: 20px;
  }
}


.counter {
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

.nav-logo {
  width: 120px;
  display: inline;
}

.nav-logo-mobile {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-element {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 45px;
  margin-top: auto;
  margin-bottom: auto;
}


.logo-white {
}

.logo-black {
  display: none;
}

.logo-orange {
  display: none;
}


.helloradius-logo {
  padding-left: 13px;
  height: 15px;
  margin-top: -15px;
}

.productile-logo-small {
  height: 15px;
}

.productile-logo-medium {
  height: 50px;
}

.productile-logo-large {
  height: 80px;
}

////////////////////////////////////////////////////////////////// Dropdown Menu
.navbar-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #FDFDFD;
  padding-bottom: 25px;
}

.logo-mobile {
  position: absolute;
  top: 35px;
  left: 9%;
  height: 15px;
}

.dropdown {
  margin-left: 83%;
}

.open > .dropdown-menu {
  margin-left: -115px;
}

.btn-default {
  border: none;
  box-shadow: none;
  margin-top: 20px;
  font-size: 25px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 9px 25px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  font-size: 17px;
  font-family: "Avenir";
}
