<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <h1>The best sandwiches in Bangkok!</h1>
      </div>
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <a href="">ORDER NOW</a>
      </div>
    </div>
  </div>
</div>

<div class="order-now">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="delivery-plateform">
          <%= image_tag('foodpanda-delivery.png', class: "logo-delivery") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="delivery-plateform">
          <%= image_tag('honestbee-delivery.png', class: "logo-delivery") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="delivery-plateform">
          <%= image_tag('lineman-delivery.png', class: "logo-delivery") %>
        </div>
      </div>
    </div>
  </div>
</div>
